# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
# required for unit tests to pass on any platform
*.sql text eol=crlf 
