image: Visual Studio 2017

version: 0.10.0.{build}

# enable patching of AssemblyInfo.* files
assembly_info:
  patch: true
  file: OpenDBDiff\Properties\AssemblyVersionInfo.cs
  assembly_version: "{version}"
  assembly_file_version: "{version}"
  assembly_informational_version: "{version}"

dotnet_csproj:
  patch: true
  file: '**\*.csproj'

before_build:
- cmd: nuget restore OpenDBDiff.sln

build:
  parallel: true # enable MSBuild parallel builds
  project: OpenDBDiff.sln
  verbosity: minimal

artifacts:
- path: OpenDBDiff\bin\Debug
  name: OpenDBDiff.CI
- path: OpenDBDiffCmd\bin\Debug\net452
  name: OpenDBDiff.OCDB.CI.net452
- path: OpenDBDiffCmd\bin\Debug\netcoreapp2.0
  name: OpenDBDiff.OCDB.CI.netcoreapp2.0
