<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffPlex" version="1.4.4" targetFramework="net472" />
  <package id="Essy.Tools.InputBox" version="1.0.0" targetFramework="net472" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.112.2" targetFramework="net472" />
</packages>