<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBDiff.Schema.SQLServer.Generates.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBDiff.Schema.SQLServer.Generates.Properties.Settings>
            <setting name="SQLServerUserOrigin" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLServerUserDestination" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLServerConnectionTypeOrigin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SQLServerConnectionTypeDestination" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SQLServerNameOrigin" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLServerNameDestination" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLServerDatabaseOrigin" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SQLServerDatabaseDestination" serializeAs="String">
                <value>-1</value>
            </setting>
        </DBDiff.Schema.SQLServer.Generates.Properties.Settings>
    </userSettings>
</configuration>