<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBDiff.Schema.SQLServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBDiff.Schema.SQLServer.Properties.Settings>
            <setting name="SQLServerUserOrigen" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLServerUserDestino" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLServerConnectionTypeOrigen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SQLServerConnectionTypeDestino" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SQLServerNameOrigen" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLServerNameDestino" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLServerDatabaseOrigen" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SQLServerDatabaseDestino" serializeAs="String">
                <value>-1</value>
            </setting>
        </DBDiff.Schema.SQLServer.Properties.Settings>
    </userSettings>
</configuration>